.DS_Store
._*
*.o
o
r
r2
t
lib/librs.a
delivery/*.pem
delivery/SimRadar.*
Sparkle.framework
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.mp4

# Misc. assets
SimRadar/Photoshop Images
ref/

# Log files
*stdout.txt
*stderr.txt

# Symbolic links
o
simradar-mpi.c

# Programs
test_*
cldemo
simradar
simradar-mpi
simple_ppi
lsiq

