.DS_Store
*.o
o
r
r2
t
lib/librs.a
delivery/*.pem
delivery/SimRadar.*
Sparkle.framework
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.mp4

# Misc. assets
SimRadar/Photoshop Images
ref/

# Programs
test_*
cldemo
radarsim
simple_ppi
lsiq
