<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimRadar (DEBUG).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SimRadar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cldemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>radarsim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_clreduce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test_les.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_make_pulse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_rs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B50A280A17D7B22B00E4DE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B50A281E17D7D4C000E4DE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B51256EC17E3891B0071EDE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B527892B18A13C0100650679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56077A617E34E840068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56077B317E34E840068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56077CF17E34FEE0068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56077D617E34FEE0068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56077EE17E356910068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56077FB17E357340068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B560780717E357340068C6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5760E9D18A938D3008DAF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BAD55718B67E8B007AC15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D1420E18AA72F80041566E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EF316518204AF9002DDEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EF316F18204B5C002DDEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EF318E18204B5C002DDEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F3C32318F2FD8F00092A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5FB1B7A17E396200095E110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5FB1B8617E396200095E110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
